<article class="section about" id="about">
  <div class="about-box">
    <h2>About Script'17</h2>
    <p>
      Script'17 is a one-day, curated and handcrafted JavaScript event for the community. Join us for a day (and night)
      of fun and education, listening to speakers who shape the world of JavaScript.
    </p>
  </div>
  <section class="divider">
    <img src="/assets/images/unique.jpg" class="divider-image">
    <div class="divider-content">
      <h3>A unique format</h3>
      <p>
        Script'17 takes place on the 27th of January, a Friday. We start at noon to ensure an easy arrival
        for all attendees.
      </p>
      <p>
        Starting at noon, we go way into the night. Get inspired by fantastic talks and enjoy yourself at the
        after party. Take the opportunity to chat, get excited and to have a great start into the weekend!
      </p>
    </div>
  </section>
  <section class="divider">
    <img src="/assets/images/food.jpg" class="divider-image">
    <div class="divider-content">
      <h3>Excellent food and drinks</h3>
      <p>
        We love good food, and we're sure our community does as well! You get all-inclusive food (by <a href="#partners">Karriere.at</a>),
        drinks, coffee (by <a href="#partners">ePunkt</a>) and refreshments the entire day!
      </p>
      <p>
        All-inclusive also goes for the after-show party (by <a href="#partners">Usersnap</a>).
        Stay with the people and enjoy the company!
      </p>
    </div>
  </section>
  <section class="divider">
    <img src="/assets/images/lineup.jpg" class="divider-image">
    <div class="divider-content">
      <h3>An excellent line-up</h3>
      <p>
        Our selected speakers not only know what they're talking about, they also shape the future of JavaScript.
        See which speakers <a href="#speakers">are already confirmed</a> and check out their
        <a href="#speaker-details">talks</a>.
      </p>
    </div>
  </section>
  <section class="divider">
    <img src="/assets/images/people.jpg" class="divider-image">
    <div class="divider-content">
      <h3>A conference for everybody</h3>
      <p>
        We live by the <a href="/code-of-conduct">JSConf code of conduct</a> to make sure the event is a safe place
        for everybody!
      </p>
      <p>
        Tickets are affordable. Early birds start at EUR 120, standard tickets are at EUR 150. <a href="#tickets">Grab your ticket now</a>
      </p>
    </div>
  </section>
</article>