<!-- Begin MailChimp Signup Form -->
<form id="stay-up-to-date" class="section mail-subscribe-form" action="//scriptconf.us13.list-manage.com/subscribe/post?u=f5bed0058ba0f92552c55c755&amp;id=cc56f4a027"
  method="post" id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Stay informed ...</h2>
  <label class="sr-only" for="mce-EMAIL">Email Address</label>
  <input placeholder="Enter your e-mail" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f5bed0058ba0f92552c55c755_cc56f4a027" tabindex="-1" value=""></div>
  <input class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  <p>Updates max. once a month - no spam (we don't like spam)</p>
</form>