<nav class="menu">
  <a class="menu__item" href="https://www.facebook.com/scriptconf" title="Facebook">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
  </a>
  <a class="menu__item" href="https://twitter.com/scriptconf" title="Twitter">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
  </a>
  <a class="menu__item" href="/blog" title="Code of Conduct">
    Blog
  </a>
  <a class="menu__item" href="/2017" title="Code of Conduct">
    2017
  </a>
  <a class="menu__item" href="/newsletter" title="Code of Conduct">
    Newsletter
  </a>
</nav>
