<nav class="menu">
  <a class="menu__item" href="/" title="Home">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg>
  </a>
  <a class="menu__item" href="/#speakers" title="Speakers">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bullhorn"></use></svg>
  </a>
  <a class="menu__item" href="/#tickets" title="Tickets">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ticket"></use></svg>
  </a>
  <a class="menu__item" href="https://www.facebook.com/scriptconf" title="Facebook">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
  </a>
  <a class="menu__item" href="https://twitter.com/scriptconf" title="Twitter">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
  </a>
  <a class="menu__item" href="/#schedule" title="Code of Conduct">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
  </a>
  <a class="menu__item" href="/blog" title="Code of Conduct">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ghost"></use></svg>
  </a>
</nav>