.blog-logo {
  max-width: 400px;
  width: 85%;
}

.blog-subtitle {
  font-weight: normal;
}

.post-meta {
  line-height: 2.5rem;
  font-size: 0.8rem;
  vertical-align: middle;
}

.author-thumb {
  width: 2.5rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

.author-big {
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.pagination {
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 2rem 1rem;
}

.share-icon {
  width: 2rem;
  height: 2rem;
  text-align: right;
  fill: $grey;
}

.read-more {
  margin-top: 0;
  text-align: left;
}

.read-next-story  {
  max-width: 50rem;
  margin: 0 auto;
  background: $yellow;
  color: $grey;
  padding: 1rem;
  text-align: left;
  display: block;
  background-size: cover;

  &:hover {
    color: darken($grey, 10);
  }
}

.back-menu {
  right: auto;
  left: 0;
}
