button,
input,
.btn {
  -webkit-appearance: none;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.btn-big {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  display: inline-block;
  font-family: 'Noto Sans';
}

.btn-main {
  position: absolute;
  bottom: -3.5rem;
  width: 100%;
  max-width: 600px;
  display: block;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

.mail-subscribe-form {
  margin-bottom: 110px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tito-submit,
.btn {
  background-color: $yellow;
  color: $grey;

  &:focus,
  &:hover {
    background-color: darken($yellow, 10);
    color: lighten($grey, 10);
  }
}
