.content {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
}

@media (max-width: 500px) {

  .content {
    width: auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}
