.about {
  padding-left: 0;
  padding-right: 0;
}

$dark: rgba(darken($grey, 10), 0.9);
$lite: rgba($grey, 0.9);

$svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" version="1.1"><polygon fill="' + $dark + '" points="0,0 100,0 0,100"/><polygon fill="' + $lite + '" points="100,100 100,0 0,100"/></svg>';
$svg-inverse: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" version="1.1"><polygon fill="' + $dark + '" points="0,0 0,100 100,100"/><polygon fill="' + $lite + '" points="0,0 100,0 100,100"/></svg>';

$triangle-inverse: 'data:image/svg+xml;charset=UTF-8,' + $svg;
$triangle: 'data:image/svg+xml;charset=UTF-8,' + $svg-inverse;

.divider {
  background-color: $dark;
  text-align: left;
  padding: 2rem 1rem 1rem;
  margin: 3rem 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.divider:first-of-type {
  padding-top: 1rem;
  margin-top: 3rem;
}

.divider:before {
  content: ' ';
  display: block;
  background-image: url($triangle);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 3rem;
  position: absolute;
  left: 0;
  top: -3rem;
}

.divider:first-of-type:before {
  background-image: none;
}

.divider:nth-of-type(2n) {
  background-color: $lite;
  text-align: right;
  flex-direction: row-reverse;
}

.divider:nth-of-type(2n):before {
  background-image: url($triangle-inverse);
}

.divider-image {
  padding: 3rem;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
}

.divider-content {
  max-width: 43.75rem;
  min-width: 15.675rem;
}

.divider h3 {
  text-align: inherit;
  border-bottom: 1px solid rgba(255,255,255,0.7);
  font-size: 1.5rem;
}
