
.copyright {
  max-width: 950px;
  margin: 0.625rem auto;
  padding: 0 0.625rem;
}

.site-footer {
  position: relative;
  margin: 0;
  padding: 1.25rem 15px 0.625rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.625rem;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.3);
  background-color: $grey-400;

  a,
  a:visited {
    color: #fff;
    font-weight: bold;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.footer-nav {
  border-top: 1px solid $grey-300;
  margin: 0.625rem auto;
  padding: 0.625rem;

  max-width: 950px;

  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 2em;
}

.footer-head {
  font-weight: 400;
  display: block;
}

.footer-nav-item {
  margin-bottom: 1.25rem;
}

.footer-link {
  margin-right: 0.625rem;
}

@media (min-width: 500px) {

  .footer-nav {
    display: flex;
  }

  .footer-link {
    display: block;
  }
}
