textarea, select, input {
  padding: 6px 9px;
  margin: 0 0 5px 0;
  outline: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4em;
  background: #fff;
  color: $grey;
  border: $light 1px solid;
  border-radius: 4px;
  box-shadow: none;
}

.btn {
  @extend input;
  font-weight: 700;
  cursor: pointer;
  color: $grey;
  background-color: $yellow;
  display: inline-block;
}

.btn:active,
.btn:visited,
.btn:focus {
  color: $grey;
}

.btn:focus,
.btn:hover {
  background-color: $yellow-400;
}

.btn-large {
  font-weight: bold;
  border: 1px solid #fff;
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 30px;
  text-transform: uppercase;
  width: auto;
  color: $grey;

  &:active,
  &:visited {
    color: $grey;
  }
}

.btn-default,
.tito-submit,
a.tito-submit,
a.btn-default {
  @extend .btn;
  width: auto;
  font-family: sans-serif;
  text-transform: none;
  font-size: 14px;
  color: $grey !important;
  text-decoration: none !important;

  &:hover,
  &:focus,
  &:visited {
    color: $grey;
  }
}
