.masthead {
  background-image: url(https://c1.staticflickr.com/3/2658/32842217001_1f3923b7cc_b.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: $grey;
  position: relative;
  padding: 2.5rem;

  h1, h2 {
    font-weight: 400;
  }
}

.masthead-item {
  text-align: left;
  position: relative;
  z-index: 1;
}

.logo-indent {
  text-indent: 104px;
}

.masthead-vignette:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  z-index: 0;
}



.masthead-article {
  min-height: 40vh;
}

.button-row {
  line-height: 1.8rem;
}

.main-logo {
  width: 100%;
  max-width: 455px;

  @media(max-width: 500px) {
    padding-top: 6.5rem;
  }
}

.top-logo {
  position: absolute;
  left: 40px;
  top: 20px;
  z-index: 4;

  img {
    height: 38px;
    width: 142px;
    max-width: 142px;
    min-width: 142px;
  }
}


@media (max-width: 500px) {

  .top-logo {
    left: 10px;
    top: 10px;
    width: 38px;
    overflow: hidden;
  }
}

.masthead-main {
  margin-bottom: 5rem;
}
