.masthead {
  background-image: url(https://c1.staticflickr.com/3/2658/32842217001_1f3923b7cc_b.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.masthead-item {
  padding: 1.5rem;
  text-align: center;
}

.button-row {
  line-height: 1.8rem;
}

.main-logo {
  width: 100%;
  max-width: 655px;
}
