@mixin hoverer {

  &:hover,
  &:active {
    color: $yellow;
    fill: $yellow;
  }
}

.menu {
  font-size: 1.4rem;
  position: absolute;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}

.menu__item {
  color: white;
  padding: 1rem;
  @include hoverer;
}

.menu__item .link__icon {
  fill: white;
  height: 1.4rem;
  width: 1.4rem;
  @include hoverer;
}

@media (min-width: 500px) {
  
  .menu {
    font-size: 1.6rem;
  }

  .menu__item .link__icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}

@media (min-width: 900px) {
  
  .menu {
    font-size: 1.8rem;
  }

  .menu__item {
    padding: 1.5rem;
  }

  .menu__item .link__icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}
