.menu {
  display: flex;
  font-size: 1rem;
  line-height: 1rem;
  font-family: $font;
  font-weight: 600;
  align-items: center;
  //background-color: rgba($grey, 0.6);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

$menu-padding: 1rem;

.menu__item {
  padding: 1.25rem;
  padding-left: 0;
  padding-right: $menu-padding;
  text-transform: uppercase;
}

.menu__logo {
  flex-grow: 1;
  padding-left: $menu-padding;
}

.is-main .menu__logo {
  opacity: 0;
}

@media (min-width: 800px) {
  $menu-padding: 2.5rem;

  .menu__item {
    padding-right: $menu-padding;
  }

  .menu__logo {
    padding-left: $menu-padding;
  }
}

.link__icon {
  height: 1rem;
  width: 1rem;
  fill: $yellow;
}

.menu__logo img {
  height: 38px;
  width: 142px;
  max-width: 142px;
  min-width: 142px;
}
