* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  background-color: $grey;
  color: white;
  font-family: 'Noto Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4em;
}

main {
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

a {
  color: $yellow;
  text-decoration: none;
}

a:hover,
a:focus {
  color: darken($yellow, 10);
}

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
  line-height: 1.4em;
}

ul {
  padding-left: 1.2em;
}

li {
  margin: 0.5em 0;
}

.highlight {
  color: $yellow;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
}

.text {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  color: white;
  font-size: 1.25rem;
  max-width: 45rem;
}

.section {
  padding: 3rem;
}

.light {
  font-weight: 300;
}

article {
  position: relative;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  visibility: hidden;
  opacity: 0;
  left: -10000px;
}

dt {
  margin-top: 2em;
  font-size: 1.2rem;
}

dd {
  margin-left: 0;
  margin-top: 0.5em;
}
