.partner {
  padding: 1.5rem;
  text-align: center;
}

.partner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;

  img {
    max-height: 40px;
    width: auto;
    max-width: none;
    margin: 2rem;
  }
}

.partner ~ .newsletter {
  margin-top: 0;
}
