.quote {
  border-left: none;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;

  p {
    font-style: normal;
  }

  .box {
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 1;
  }
}

.quote-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(to left, #1dcaff, #1dcaff 50%, transparent 50%);
  margin: 0;
  max-width: 70%;
}

.quote-footer {
  background: white;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  > * {
    margin: 2rem;
  }
  
  p {
    margin: 0;
    line-height: 1.4em;
  }
}

.quote-img {
  width: 70px;
  border-radius: 50%;
}

.tweet {
  background-image: linear-gradient(to right, #1dcaff, #1dcaff 50%, white 50%);
}

.quote-decorator {
  fill: white;
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  left: 100px;
  transform: translate(0, -50%);
  z-index: 0;
  display: none;
}

.quote-link {
  display: block;
  align-self: center;
}

@media (max-width: 900px) {

  .quote {
    background: transparent;
    padding: 0;
  }

  .quote .box {
    display: block;
  }

  .quote-footer {
    justify-content: center;
  }

  .quote-content {
    max-width: 100%;
    padding: 1.5rem;
    background: #1dcaff;
  }
}

@media (min-width: 1155px) {

  .quote-decorator {
    display: block;
  }
}
