* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: $grey;;
  line-height: 1.4em;
  font-family: "Fira Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 300;
  font-size: 1rem;
}

a {
  color: $yellow;
  text-decoration: none;
}

a:hover,
a:focus {
  color: darken($yellow, 10);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  visibility: hidden;
  opacity: 0;
  left: -10000px;
}

