.schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.schedule-area {
  background-color: $yellow;
  padding: 20px 0;
  margin: 7rem 0;
}

.schedule-item {
  display: flex;
  padding: 3rem 0;
}

.schedule-item + .schedule-item {
  border-top: 1px solid $blue-200;
}

.schedule-speaker {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.scheduled-time {
  padding-right: 5rem;
}

.schedule-session {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 500px) {

  .schedule-talk {
    display: flex;
    align-content: flex-start;
  }

  .schedule-talk-details {
    padding-left: 5rem;
  }

  .schedule-session {
    font-size: 3rem;
  }
}


.schedule-speaker-name {
  margin: 0;
}
