.section-inverse {
  background-color: #fefefe;
  color: $grey;
  text-align: left;
  padding: 1rem;
  margin: 1.5rem auto;
  max-width: 800px;
}

.section-inverse a {
  color: desaturate($yellow, 20%);
}

.partners {
  background-color: darken($grey, 10);
}

.about-box {
  max-width: 800px;
  padding: 1rem;
  padding-bottom: 3rem;
  position: relative;
  margin: 0 auto;
}
