.speakers {
  list-style-type: none;
  margin: 3rem auto;
  padding: 0 1rem;
  overflow: hidden;
  max-width: 1400px;

  @media (min-width: 600px) {
    padding: 0 6rem;

    &.workshops {
      padding: 0;
    }
  }
}

.speaker {
  display: flex;
  align-items: center;
  float: left;

  @media(min-width: 600px) {
    width: 50%;
  }
}

@supports (grid-auto-flow: column) {

  .speakers {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    overflow: visible;
  }

  .speaker {
    width: 100%;
  }

  @media(min-width: 600px) {  
    .speakers {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

      &.workshops {
        grid-template-columns: 1fr;
      }
    }
  }

  .speaker {
    float: none;
  }
}

.speaker-img {
  width: 100px;
  border-radius: 50%;

  @media (min-width: 600px) {
    min-width: 200px;
    width: 200px;

    &.mini {
      width: 100px;
      min-width: 100px;
    }
  }
}

.to-right {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.speaker-hl:not(:first-of-type) {
  clear: both;
  margin-top: 10rem;
}

.icon {
  fill: $grey;
  width: 2rem;
  height: 2rem;
  stroke-width: 1px;
  stroke: $grey;
}

.speaker-details {
  padding-left: 3rem;

  &.large {
    width: 100%;
  }
}

.speaker-title {
  margin: 0;
}

.speaker h4 {
  margin: 0;
}

.talk-info {
  font-weight: normal;
  text-transform: none;
  font-style: italic;
  font-family: 'Merriweather', serif;
  font-size: 0.95em;  
}

.cols {
  padding: 3rem 3rem 1rem;
  max-width: 990px;
}

@supports (grid-auto-flow: column) {

  @media (min-width: 700px) {

    .cols {
      .speaker {
        flex-direction: column;
        padding-top: 3rem;
        float: right;
        max-width: 310px;
        padding-left: 4rem;
      }

      h3 {
        clear: both;
      }

      .speaker-details {
        padding-top: 3rem;
      }
    }
  }

  .cols .speaker {
    margin-bottom: 4rem;
    align-items: flex-start;

    @media (min-width: 600px) {
      align-items: center;
    }
  }


  .cols .speaker .btn {
    margin-top: 3rem;
    text-align: center;
  }
}

.description {
  margin-top: 3rem;
}
