.speaker-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 600px) {

  .speaker-list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
}

.speaker {
  padding: 1rem;
  margin: 0 auto;
  width: 18rem;
  max-width: 100%;
  position: relative;
}

.speaker-img {
  width: 100%;
  max-width: 10.625rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: $yellow;

  &:hover {
    fill: darken($yellow, 10);
  }
}
