
$yellow: #F3DF56;
$yellow-200: #feeb53;
$yellow-300: #f7df1e;
$yellow-400: #ebca1c;

$blue: #2f4aa0;
$blue-200: #3f5cB8;
$blue-300: #2f4aa0;
$blue-400: #14328f;

$grey: #2F2F2C;
$grey-200: #4b555a;
$grey-300: #3a4145;
$grey-400: #222729;

$light: #e7eef2;
$dark: #BBC7CC;

$font: 'Raleway', sans-serif;
