<footer class="site-footer">
  <section class="copyright"><a href="/legal-notice">ScriptConf</a> © 2017</section>
  <section class="footer-nav">
    <nav class="footer-nav-item">
      <strong class="footer-head">Connect with us</strong>
      <a href="/legal-notice/#contact" class="footer-link">Contact</a>
      <a href="/newsletter" class="footer-link">Newsletter</a>
      <a href="https://twitter.com/scriptconf" class="footer-link">Twitter</a>
      <a href="https://www.facebook.com/scriptconf/" class="footer-link">Facebook</a>
      <a href="http://stahlstadt-slack.herokuapp.com/" class="footer-link">Slack</a>
    </nav>
    <nav class="footer-nav-item">
      <strong class="footer-head">About ScriptConf</strong>
      <a href="/about" class="footer-link">About</a>
      <a href="/legal-notice" class="footer-link">Legal notice</a>
      <a href="/faq" class="footer-link">FAQ</a>
      <a href="/code-of-conduct" class="footer-link">Code of conduct</a>
    </nav>
    <nav class="footer-nav-item">
      <strong class="footer-head">Resources</strong>
      <a href="/blog" class="footer-link">Blog</a>
      <a href="/2017" class="footer-link">2017 conference website</a>
      <a href="https://www.flickr.com/photos/147913672@N04/albums/72157680474275325/with/32585969110/" class="footer-link">Flickr</a>
      <a href="https://www.youtube.com/channel/UCVbaJU4SUrQrrNs820aZAfQ" class="footer-link">Youtube</a>
      <a href="https://www.instagram.com/scriptconf/" class="footer-link">Instagram</a>
    </nav>
    <nav></nav>
  </section>
</footer>
