<section class="masthead masthead-article"{{#if image}} style="background-image: url({{image}}); {{#if position}}background-position: {{position}};{{/if}}"{{/if}}>
  <a href="/" class="top-logo"><img src="/assets/images/general/logo-general.svg" alt="Script Conf Logo"></a>
  <div class="masthead-item">
    <h1>{{title}}</h1>
  </div>
</section>
