<section class="masthead masthead-article masthead-vignette"{{#if image}} style="background-image: url({{image}}); {{#if position}}background-position: {{position}};{{/if}}"{{/if}}>
  <div class="masthead-item">
    <h1>{{title}}</h1>
  </div>
</section>
