<section class="masthead masthead-main masthead-vignette">
  <div class="masthead-item">
    <h1><img src="/assets/images/2018/script-18-logo.svg" alt="Script Conf Logo" class="main-logo"></h1>
    <h2 class="logo-indent">Conferences about JavaScript</h2>
    <!--h3>Jan 19, 2018 &bullet; Linz, Austria &bullet; 12 o'clock - &infin;</h3>
    <p class="button-row">
      <a href="#tickets" class="btn btn-large">Tickets available &bullet; EUR 159 (incl. VAT)</a>
    </p-->
  </div>
</section>
