<section class="masthead masthead-article"{{#if image}} style="background-image: url({{image}}); {{#if position}}background-position: {{position}};{{/if}}"{{/if}}>
  <a href="/"><img src="/assets/images/general/logo-general.svg" alt="Script Conf Logo" class="top-logo"></a>
  <div class="masthead-item">
    <h1>{{title}}</h1>
  </div>
</section>
