<nav class="menu">
  <a class="menu__item" href="https://www.facebook.com/scriptconf" title="Facebook">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
  </a>
  <a class="menu__item" href="https://twitter.com/scriptconf" title="Twitter">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
  </a>
  <a class="menu__item" href="/#tickets">
    Tickets
  </a>
  <a class="menu__item" href="/workshops">
    Workshops
  </a>
  <a class="menu__item" href="/speakers">
    Speakers
  </a>
  <a class="menu__item" href="/about">
    About
  </a>
  <a class="menu__item" href="/blog">
    Blog
  </a>
</nav>
