<article class="partner">
  <h3>Powered by...</h3>
  <div class="partner-list">
    <a href="http://www.fredmansky.at"><img src="/assets/images/general/old-sponsors/fredmansky.png" alt="Fredmansky"></a>
    <a href="https://usersnap.com"><img src="/assets/images/general/old-sponsors/usersnap.png" alt="Usersnap"></a>
    <a href="https://karriere.at"><img src="/assets/images/general/old-sponsors/karriere.png" alt="Karriere"></a>
    <a href="https://epunkt.at"><img src="/assets/images/epunkt.png" alt="ePunkt"></a>
    <a href="https://developer.microsoft.com/en-us/microsoft-edge/"><img src="/assets/images//general/old-sponsors/microsoft.png" alt="Microsoft Edge"></a>
  </div>
</article>
