@font-face{
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  background-color: #2F2F2C;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  color: #F3DF56;
}

header {
  font-family: 'Montserrat';
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  margin-top: 15vh;
  margin-bottom: 2rem;
}

h1, h2 {
  font-family: 'Montserrat';
  color: #F3DF56;
}

a {
  color: #F3DF56;
}

footer,
a {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

input {
  -webkit-appearance: none;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 5px 10px;
  border-radius: 3px;
}

form {
  margin-bottom: 110px;
  margin-top: 4rem;
}

.btn {
  background-color: #F3DF56;
  color: #2F2F2C;
}

.highlight {
  display: block;
  color: white;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
}

.text {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  color: white;
  font-size: 1.25rem;
  max-width: 45rem;
}
