{{#extend 'default'}}
  {{#content 'masthead'}}
    {{> 2018/masthead-main}}
  {{/content}}
  {{#content 'contents'}}
  <div class="main">
  {{{contents}}}
  </div>
  {{> 2018/partner}}
  {{/content}}
{{/extend}}
