.btn {
  background-color: #f7df1e;
  color: #2f2f2c;
  display: inline-block;
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 3px solid #f7df1e;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  line-height: 1.1em;
  transition: all 0.3s ease;
}

.realestate {
  padding: 0.26rem 0.5rem 0.25rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.btn:hover {
  background-color: #f7c41e;
  border-color: #f7c41e;
  color: #2f2f2f;
}

.btn.secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #f7df1e;
}

.btn.secondary:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #f7c41e;
}
