/* 
--color-stop-1: rgba(144, 19, 255, 0.3);
  --color-stop-2: rgba(189, 16, 224, 0.1);
  --color-stop-3: #9013FE;
  --color-stop-4: hotpink;
  background-image:
    linear-gradient(to bottom left, 
      var(--color-stop-1, rgba(144, 19, 255, 0.3)), 
      var(--color-stop-2, rgba(189, 16, 224, 0.1))),
    linear-gradient(to right, 
      var(--color-stop-3, #9013FE), 
      var(--color-stop-4, hotpink));
*/

/* 
  --color-stop-1: rgba(144, 19, 255, 0.3);
  --color-stop-2: rgba(189, 16, 224, 0.1);
  --color-stop-3: #33a3fb;
  --color-stop-4: #004dfb;
  */

.card {  
  clear: both;
  margin: 2rem 0;
  background-color: white;
  color: #222;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr;
  min-height: 250px;
}

@media(min-width: 600px) {
  .card {
    grid-template-columns: 1fr 200px
  }
}

@media(min-width: 750px) {
  .card {
    grid-template-columns: 1fr 300px
  }
}

@media(min-width: 850px) {
  .card {
    grid-template-columns: 1fr 450px
  }
}

.card-container {
  padding: 1.5rem 2rem;
}

.card-image {
  background-size: cover;
  width: 100%;
  max-width: 450px;
}
