.copyright {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0 1rem;
  color: #ccc;
}

.footer-area {
  position: relative;
  margin: 0;
  padding: 2rem 15px 1rem;
  font-size: 0.7rem;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2f2f2c;
}

.footer-area a,
.footer-area a:visited {
  color: #fff;
  font-weight: bold;
}

.footer-area a:hover,
.footer-area a:active {
  text-decoration: underline;
}

.footer-nav {
  border-top: 1px solid #222;
  padding: 1rem;
  margin: 0 auto;

  max-width: 1000px;

  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 2em;
}

.footer-head {
  font-weight: 400;
  display: block;
  color: #ccc;
}

.footer-nav-item {
  margin-bottom: 2rem;
}

.footer-link {
  margin-right: 1rem;
  display: inline-block;
}

@media (min-width: 500px) {

  .footer-nav {
    display: flex;
    justify-content: flex-start;
  }

  .footer-nav-item {
    flex-basis: 250px;
  }

  .footer-link {
    display: block;
  }
}
