*, *:after, *:before {
 box-sizing: border-box;
}

.vitaly-ws main {
  min-height: calc(100vh - 450px);
}

.vitaly-ws h1, .vitaly-ws h2 {
  line-height: 1.2em;
  margin-top: 0;
}

.vitaly-ws a {
  color: #3f5cb8;
  transition: all 0.3s ease;
}

.vitaly-ws a:hover {
  color: #513fb8;
}

.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

@media(min-width: 800px) {
  .article {
    margin-left: 2rem;
  }
}

.vitaly-ws figure {
  width: calc(100% + 1rem);
  margin: 0 -1rem;
  padding: 1rem 0;
  text-align: center;
}

.vitaly-ws figure img {
  max-width: 100%;
}

.vitaly-ws figcaption {
  font-style: italic;
}
