.section-inverse {
  background-color: #fefefe;
  color: $grey;
  text-align: left;
  padding: 1.5rem;
  margin: 1.5rem auto;
  max-width: 50rem;

  h1, h2, h3 {
    text-align: left;
  }
}

.section-inverse a:not(.icon) {
  color: $grey;
  font-weight: bold;
  background: linear-gradient(#fefefe,#fefefe), linear-gradient(#fefefe,#fefefe), linear-gradient($grey, $grey);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  text-shadow: .03em 0 #fefefe,
    -.03em 0 #fefefe,
    0 .03em #fefefe,
    0 -.03em #fefefe,
    .06em 0 #fefefe,
    -.06em 0 #fefefe,
    .09em 0 #fefefe,
    -.09em 0 #fefefe,
    .12em 0 #fefefe,
    -.12em 0 #fefefe,
    .15em 0 #fefefe,
    -.15em 0 #fefefe;
  background-position: 0 87%,100% 87%,0 87%;
}

.partners {
  background-color: darken($grey, 10);
  margin-top: 2rem;
}

.location {
  margin-top: 0;
  padding-top: 2rem;
}

.location-figure {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.location-img {
  width: 100%;
  max-width: 1600px;
  display: block;
}

.about-box {
  max-width: 50rem;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
}
